body {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

header {
  margin: 20px;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #272142;
}

.active a {
  color: #662eed;
}

.headline-image {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.background-image {
  filter: brightness(70%);
}

.headline-text {
  color: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  }

h1 {
  font-size: 72px;
  line-height: 98px;
}

h2 {
  font-size: 64px;
  text-align: left;
  }

h3 {
font-size: 36px;
}

h3.about {
  margin: 100px 0 40px 0;
  }

h4 {
  font-size: 28px;
  text-align: left;
  padding: 20px;
}

h5 {
  font-size: 24px;
}

.headline-paragraph {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}

.about-headline {
  margin: 50px 0 120px 0;
}

.about-descrtiption {
font-size: 18px;
padding: 30px 0;
text-align: left;
}

.about-section {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 90%;
}

.dish-description {
  margin-bottom: 20px;
}

.about-dish-description {
  font-size: 16px;
  text-align: left;
  line-height: 2;
  padding: 30px;
}

.follow-paragraph {
  font-size: 18px;
  font-weight: bold;
}

.recipe-headline {
  text-align: left;
  padding: 20px 20px 0 20px;
}

footer {
  margin: 50px 0;
}

.logo-image {
  width: 150px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 28px;
    line-height: 1;
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }

  h3.about {
    margin: 50px 0 20px 0;
  }

  h4 {
    font-size: 20px;
    padding: 5px 0 0 0;
    text-align: center;
  }

.about-description {
    text-align: center;
    padding: 0;
  }

  .about-headline {
  margin: 50px 0 30px 0;
}

.recipe-headline {
  text-align: center;
}
.about-dish-description {
  padding: 0;
  text-align: center;
  line-height: normal;
}

  .logo-image {
    width: 70px;
  }

  .copyright {
    font-size: 10px;
  }
}
